{% extends 'base.html' %}
{% block content %}
    <!-- Your HTML content here -->

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" class="btn">
    </form>
    <p id="alignment-name"></p>
    <p id="alignment-desc"></p>
    <p id="race-name"></p>
    <p id="race-align"></p>
    <p id="race-lang"></p>
    <p id="race-traits"></p>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const alignmentDropdown = document.querySelector("#id_alignment");
            const raceDropdown = document.querySelector("#id_race"); // Select the race dropdown
    
            alignmentDropdown.addEventListener("change", function() {
                const selectedAlignment = this.value;
                fetchAlignmentData(selectedAlignment);
            });
    
            raceDropdown.addEventListener("change", function() {
                const selectedRace = this.value;
                fetchRaceData(selectedRace);
            });
    
            function fetchAlignmentData(alignment_name) {
                console.log("Fetching alignment data...");
                alignment_name = alignment_name.toLowerCase().replace(" ", "-");
                const url = `https://www.dnd5eapi.co/api/alignments/${alignment_name}`;
    
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        const alignmentNameElement = document.querySelector("#alignment-name");
                        const alignmentDescElement = document.querySelector("#alignment-desc");
    
                        alignmentNameElement.textContent = data.name;
                        alignmentDescElement.textContent = data.desc;
                    })
                    .catch(error => {
                        console.error("Error fetching alignment data: ", error);
                    });
            }
    
            function fetchRaceData(race_name) {
                console.log("Fetching race data...");
                race_name = race_name.toLowerCase().replace(" ", "-");
                const url = `https://www.dnd5eapi.co/api/races/${race_name}`;
    
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        const raceNameElement = document.querySelector("#race-name");
                        const raceAlignElement = document.querySelector("#race-align");
                        const raceLangElement = document.querySelector("#race-lang");
                        const raceTraitsElement = document.querySelector("#race-traits");
    
                        raceNameElement.textContent = data.name;
                        raceAlignElement.textContent = data.alignment;
                        raceLangElement.textContent = data.language_desc;
                        raceTraitsElement.textContent = data.traits.name;
                        const traits = data.traits.map(trait => trait.name);
                        raceTraitsElement.textContent = traits.join(', '); // Display traits as a comma-separated list
                    })
                    .catch(error => {
                        console.error("Error fetching race data: ", error);
                    });
            }
        });
    </script>
    
{% endblock %}



