{% extends 'base.html' %}
{% block content %}

{% if object %}
    <h1>Edit <span>{{ object.name }}</span></h1>
{% else %}
    <h1>Add User</h1>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td><label for="{{ form.name.id }}" class="form-label">{{ form.name.label_tag }}</label></td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td><label for="{{ form.email.id }}" class="form-label">{{ form.email.label_tag }}</label></td>
            <td>{{ form.email }}</td>
        </tr>
        <tr>
            <td><label for="{{ form.password.id }}" class="form-label">{{ form.password.label_tag }}</label></td>
            <td>{{ form.password }}</td>
        </tr>

        <!-- {{ form.as_table }} -->
    </table>
    <input type="submit" value="Submit!" class="btn">
</form>

{% endblock %}