{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}

<h1>Character Details</h1>

<h1 style="font-family: 'Cinzel', serif;">Character Details</h1>

<br>

<h3 style="font-family: 'Philosopher', sans-serif;">{{ character.name }}</h3>

{% load static %}

<ul>
    <li>

        {% with character_gender_image=character.gender|gender_image_url %}
        <img src="{% if character.gender != 'URL_FOR_DEFAULT_IMAGE' %}{% static character.gender|gender_image_url %}{% else %}{% static 'images/default_image.png' %}{% endif %}" alt="{{ character.gender }}" width="100" height="100">
       

        {% endwith %}

        {% for image_path, race in form.race.field.choices %}
        {% if character.race == race %}
        <img src="{% static image_path %}" alt="{{ race }}" width="100" height="100">
        {% endif %}
        {% endfor %}

    </li>
    <li>
        Race: {{ character.race }}
    </li>
    <li>
        Alignment: {{ character.alignment }}
    </li>
    <li>

        {{ character.level }}

        Level: {{ character.level }}
    </li>
    <li>
        Experience: {{ character.exp }}

    </li>
    <li>
        <h3 style="font-family: 'Philosopher', sans-serif;">Stats</h3>
        <ul>
            <li>Strength: {{ character.strength }}</li>
            <li>Constitution: {{ character.constitution }}</li>
            <li>Dexterity: {{ character.dexterity }}</li>
            <li>Charisma: {{ character.charisma }}</li>
            <li>Wisdom: {{ character.wisdom }}</li>
            <li>Intelligence: {{ character.intelligence }}</li>
        </ul>
    </li>
</ul>

<div>
    <a href="{% url 'update_character' character_id=character.id %}">Edit</a>
    <a href="{% url 'delete_character' character.id %}">Delete</a>
</div>
{% endblock %}