{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}

<h1>Character Details</h1>

<h1 style="font-family: 'Cinzel', serif;">Character Details</h1>

<br>

<h3 style="font-family: 'Philosopher', sans-serif;">{{ character.name }}</h3>

{% load static %}

<ul>

        <li>
            {% with character_gender_image=character.gender|gender_image_url %}
            <img src="{% if character.gender != 'URL_FOR_DEFAULT_IMAGE' %}{% static character_gender_image %}{% else %}{% static 'images/default_image.png' %}{% endif %}" alt="{{ character.gender }}" width="100" height="100">
            {% endwith %}
        </li>

    <li>
        Race: {{ character.race }}
    </li>
    <li>
        Alignment: {{ character.alignment }}
    </li>
    <li>

        Level: {{ character.level }}
    </li>
    <li>
        Experience: {{ character.exp }}

    </li>
    <li>
        <h3 style="font-family: 'Philosopher', sans-serif;">Stats</h3>
        <ul>
            <li>Strength: {{ character.strength }}</li>
            <li>Constitution: {{ character.constitution }}</li>
            <li>Dexterity: {{ character.dexterity }}</li>
            <li>Charisma: {{ character.charisma }}</li>
            <li>Wisdom: {{ character.wisdom }}</li>
            <li>Intelligence: {{ character.intelligence }}</li>
        </ul>
    </li>
</ul>
<p id="alignment-name"></p>
<p id="alignment-desc"></p>
<p id="race-align"></p>
<p id="race-lang"></p>
<p id="race-traits"></p>

<div>
    <a href="{% url 'update_character' character_id=character.id %}">Edit</a>
    <a href="{% url 'delete_character' character.id %}">Delete</a>
</div>


<script>
        
        function fetchAlignmentData(alignment_name) {
                console.log("Fetching alignment data...");
                alignment_name = alignment_name.toLowerCase().replace(" ", "-");
                const url = `https://www.dnd5eapi.co/api/alignments/${alignment_name}`;
    
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        const alignmentNameElement = document.querySelector("#alignment-name");
                        const alignmentDescElement = document.querySelector("#alignment-desc");
    
                        alignmentNameElement.textContent = data.name;
                        alignmentDescElement.textContent = data.desc;
                    })
                    .catch(error => {
                        console.error("Error fetching alignment data: ", error);
                    });
            }
    
            function fetchRaceData(race_name) {
                console.log("Fetching race data...");
                race_name = race_name.toLowerCase().replace(" ", "-");
                const url = `https://www.dnd5eapi.co/api/races/${race_name}`;
    
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        const raceNameElement = document.querySelector("#race-name");
                        const raceAlignElement = document.querySelector("#race-align");
                        const raceLangElement = document.querySelector("#race-lang");
                        const raceTraitsElement = document.querySelector("#race-traits");
    
                        raceNameElement.textContent = data.name;
                        raceAlignElement.textContent = data.alignment;
                        raceLangElement.textContent = data.language_desc;
                        
                        raceTraitsElement.textContent = "";

                        if (data.traits) {
                            const traits = data.traits.map(trait => trait.name);
                            raceTraitsElement.textContent = traits.join(', '); // Display traits as a comma-separated list
                        }
                    })
                    .catch(error => {
                        console.error("Error fetching race data: ", error);
                    });
            }


 
    const alignmentName = "{{ alignment_name }}";
    const alignmentDesc = "{{ alignment_desc }}";
    const raceAlign = "{{ race_align }}";
    const raceLang = "{{ race_lang }}";
    const raceTraits = "{{ race_traits }}";
    

    document.querySelector("#alignment-name").textContent = alignmentName;
    document.querySelector("#alignment-desc").textContent = alignmentDesc;
    document.querySelector("#race-align").textContent = raceAlign;
    document.querySelector("#race-lang").textContent = raceLang;
    document.querySelector("#race-traits").textContent = raceTraits;
  
</script>



{% endblock %}
