{% extends 'base.html' %}
{% block content %}

<h1>Character Details</h1>
<br>

<h3>{{ character.name }}</h3>

{% load static %}

<ul>
    <li>
        {% for image_path, race in form.race.field.choices %}
            {% if character.race == race %}
                <img src="{% static image_path %}" alt="{{ race }}" width="100" height="100">
            {% endif %}
        </li>
    {% endfor %}
    </li>
    <li>
        {{ character.race }}
    </li>
    <li>
        {{ character.alignment }}
    </li>
    <li>  
        {{ character.level }}
    </li>
    <li>
        {{ character.exp }}
    </li>
</ul>

<div>
    <a href="{% url 'update_character' character.id %}">Edit</a>
    <a href="{% url 'delete_character' character.id %}">Delete</a>
</div>
{% endblock %}