{% extends 'base.html' %}
{% block content %}

<h1>Profile: {{ user.name }}</h1>
<div>
    <a href="{% url 'update_user' user.id %}">Edit</a>
    <a href="{% url 'delete_user' user.id %}">Delete</a>
</div>

<h2>Characters Created by {{ user.name }}</h2>
<ul>
    {% for character in user.character_set.all %}
    <li>
        <a href="{% url 'detail' character.id %}">{{ character.name }} - {{ character.race }}</a>
       
            
    
   
    {% endfor %}
</ul>

<a href="{% url 'character_create' user_id=user.id %}">Create a New Character</a>

{% endblock %}