{% extends 'base.html' %}
{% block content %}
<div class="container center-align valign-wrapper" style="height: 80vh;">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <h1 class="center-align" style="font-size: 3rem; font-family: 'Philosopher', sans-serif;">Profile:
                        {{ user.name }}
                    </h1>
                    <br>
                    <h3>{{ avatar_name }}</h3> 
                    <br>                   
                    <img src="{{ avatar_url }}" alt="">
                    <div>
                        <a class="btn grey" href="{% url 'update_user' user.id %}">Edit</a>
                        <a class="btn grey" href="{% url 'delete_user' user.id %}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <a class="btn waves-effect waves-light red accent-4"
                href="{% url 'character_create' user_id=user.id %}">Create
                a New Character</a>
            <h2 class="center-align white-text" style="font-size: 3rem; font-family: 'Philosopher', sans-serif;">
                Characters Created by {{ user.name }}</h2>
            <ul class="collection">
                {% for character in user.character_set.all %}
                <li class="collection-item">
                    <a href="{% url 'detail' character.id %}" style="font-family: 'Philosopher', sans-serif;">
                        {{ character.name }} - {{ character.race }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}