{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Character Forge</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="path/to/materialize/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;800&family=Philosopher&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/d20.png' %}">
    <style>
        body {
            background-color: #2F3B47;
            background: radial-gradient(circle, #364757, #1B1E22);
            background-repeat: repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar-fixed" style="background-color: rgb(69, 24, 24);">
            <div>
                <ul>
                    <li><a href="{% url 'home' %}">Character Forge</a></li>
                </ul>
                <ul class="right">

                    <li><a href="{% url 'user_index' %}">User List</a></li>
                    <li><a href="{% url 'create_user' %}">New User</a></li>

                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <!-- <footer>
        <div class="footer-copyright center"
            style="background-color:rgba(0, 0, 0, 0.501); color: rgb(103, 103, 103); position:fixed; bottom:0; left:0; width:100%; padding: 20px;" class="right">
            &copy;
            Character Forge</div>
    </footer> -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>

</body>

</html>