{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="page-container">
    <h1 class="page-title">
        Character Forge
    </h1>
    <h3>
        Welcome to the Dungeon</h3>
    <ul>
        <li><a class="btn my-button" href="{% url 'create_user' %}">New User</a></li>
    </ul>
    <div>
        <a class="d20-link" href="{% url 'dice' %}">
            <img class="rotate-center small-d20" src="{% static 'images/d20.png' %}">
        </a>
    </div>
</div>

{% endblock %}