.form-page-container {
    background-image: url('/static/images/scroll.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.char-form-container {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9a8;
    border-radius: 5px;
    
}

form {
    margin: 0;
    padding: 0;
}

.form-page-title {
    font-family: 'Cinzel', serif;
    font-weight: 800;
    font-size: 40px;
    color: black;
    text-align: center;
    padding-top: 60px;
}

.center-align-dice {
    text-align: center;
}

.btn {
    background-color: #c00606;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid black;
}

.btn:hover {
    background-color: #870606;

}


#generate-stats {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
}

.input-col {
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 10px;
}

.input-col label {
    display: block;
    font-weight: bold;
    width: 100px;
    margin-right: 10px;
}

.input-col input {
    width: calc(100% - 110px);
}


form.char-form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input#id_strength,
input#id_constitution,
input#id_dexterity,
input#id_charisma,
input#id_wisdom,
input#id_intelligence {
    width: 20px;
    padding: 5px;
    text-align: center;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}