body {
    margin: 0;
    padding: 0;
    background-color: #2F3B47;
    background: radial-gradient(circle, #364757, #1B1E22);
    background-repeat: repeat;
    background-size: cover;
}
.navbar {
    background-color: rgb(69, 24, 24);
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar ul:first-child {
    float: left;
}

.navbar ul:not(:first-child) {
    float: right;
}
.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.dice-container {
    height: 200px;
    text-align: center;
}

.char-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-align-dice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.rotate-center {
    animation: rotate-center 5s linear infinite both;
    margin-top: 40px;
}

.rotate-center:hover {
    animation-play-state: paused;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation: rotate-center 5s linear infinite both;
    margin-top: 40px;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}