.page-container-prof {
    background-image: url('/static/images/tavern.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 20px;
}

.user-details-container {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
}

.avatar-card {
    background-color: #ffffffc2;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-height: 400px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    margin-right: 150px;
}

.right-side-profile {
    background-color: #ffffff58;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px 20px 0 20px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 400px;
}

.user-details-card {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.user-info-container h1 {
    font-size: 3rem;
    font-family: 'Cinzel', serif;
}

.user-info-container h3 {
    font-size: 2rem;
    font-family: 'Philosopher', sans-serif;
}

.user-avatar {
    max-width: 400px;
    padding-top: 20px;
}

.user-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.user-actions a {
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    margin: 20px;
    text-align: center;
}

.user-action-button {
    text-decoration: none;
    cursor: pointer;
    background-color: #333;
    padding: 5px;
}

.user-characters-container {
    background-color: #f5f5f598;
    padding: 20px;
    margin: 40px auto;
    width: 80%;
    min-height: 600px;
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}

.characters-title {
    font-size: 1.5 rem;
    font-family: 'Philosopher', sans-serif;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: #ffffff67;
    min-height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.308);
}

.character-card {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 0px 20px;
    margin: 10px;
    display: grid;
    align-items: center;
    height: 200px;
    min-width: 200px;
}

.character-card a {
    text-decoration: none;
    color: #333;
}

.character-detail-btn {
    background-color: grey;
    padding: 10px;
    border-radius: 15px;
    border: 4px solid rgb(98, 97, 97);
    margin-bottom: -20px;
}

.character-detail-btn a {
    color: white;
}

.char-create-btn {
    background-color: rgb(167, 12, 12);
    padding: 10px;
    border-radius: 15px;
    border: 4px solid rgb(113, 14, 14);
    margin-bottom: -10px;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1000px) {
    .character-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 780px) {
    .character-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 730px) {
    .avatar-card {
        margin-right: 0;
    }

    .right-side-profile {
        max-width: 380px;
        margin: 20px;
    }

}


@media screen and (max-width: 400px) {
    .user-details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .right-side-profile {
        max-width: 250px;
        margin: 60px 20px;
    }

    .user-info-container h1 {
        font-size: 2rem;
        font-family: 'Cinzel', serif;
    }

    .user-info-container h3 {
        font-size: 1rem;
        font-family: 'Philosopher', sans-serif;
    }

    .avatar-card {
        align-items: center;
        margin-right: 0;
    }

    .avatar-card img {
        max-height: 200px;
        max-width: 150px;
    }

    .character-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

}